<div class='content-wrapper'>
    <div class='row'>
        <div class='col-md-12 grid-margin'>
            <div class='row'>
                <div class='col-12 col-xl-8 mb-4 mb-xl-0'>
                    <h3 class='font-weight-bold title'>Register</h3>
                </div>

            </div>
        </div>
    </div>
    <div class='row'>

        <div class='col-md-12 grid-margin stretch-card'>
            <div class='card'>
                <div class='card-body'>
                    <div class='card-header'>
                        <p class='card-title'>Register Table</p>

                        <button
                            class='btn btn-primary btn-create'
                            type='button'
                            data-toggle='modal'
                            data-target='#exampleModal'
                        >+</button>
                    </div>
                    <div class='row'>
                        <div class='col-12'>
                            {{#if error}}
                                <div class='alert alert-danger' role='alert'>
                                    {{error}}
                                </div>
                            {{/if}}
                            <div class='table-responsive'>
                                <table class='display expandable-table' style='width: 100%'>
                                    <thead>
                                        <tr>
                                            <th>Quote#</th>
                                            <th>courseId</th>
                                            <th>userId</th>
                                            <th>registeredAt</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each registers}}
                                            <tr>
                                                <td>
                                                    <input value='{{this.id}}' type='checkbox' name='id' id='id' />
                                                    {{sum @index 1}}
                                                </td>
                                                <td>{{'course.title'}}</td>
                                                <td>{{'user.username'}}</td>
                                                <td>{{formatDate this.registeredAt}}</td>
                                                <td class='details-control'>
                                                    <a
                                                        href='{{../route}}/{{this.id}}/edit'
                                                        id='btn-edit'
                                                        class='btn btn-primary'
                                                    >Edit</a>
                                                    <button
                                                        id='btn-confirm-delete'
                                                        data-id='{{this.id}}'
                                                        class='btn btn-danger'
                                                        data-toggle='modal'
                                                        data-target='#delete-modal'
                                                    >Delete</button>
                                                </td>
                                            </tr>

                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{! Modal create }}
<div
    class='modal fade'
    id='exampleModal'
    tabindex='-1'
    role='dialog'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Create new register</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>

                <form name='form' action='{{route}}' method='POST'>
                    <div class='form-group'>
                        <label for='courseId'>Course:</label>
                        <select name='courseId' class='form-control' id='courseId'>
                            <option selected disabled>-- select course --</option>
                            {{#each courses}}
                                <option value='{{this.id}}'>{{this.title}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class='form-group'>
                        <label for='userId'>User:</label>
                        <select name='userId' class='form-control' id='userId'>
                            <option selected disabled>-- select user --</option>
                            {{#each users}}
                                <option value='{{this.id}}'>{{this.username}}</option>
                            {{/each}}
                        </select>
                    </div>

                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                <button id='btn-create' type='button' class='btn btn-primary'>Save changes</button>
            </div>
        </div>
    </div>
</div>

{{! Modal delete }}
<div
    class='modal fade'
    id='delete-modal'
    tabindex='-1'
    role='dialog'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Delete user</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                Bạn có chắc chắn muốn xóa?
            </div>
            <div class='modal-footer'>
                <button id='btn-delete' type='button' class='btn btn-danger'>Ok</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
            </div>
        </div>
    </div>
</div>

<form name='form-delete' action='{{route}}' method='POST'></form>

<script src='/js/main.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function(){ const message = '{{{message}}}'; if(message)
    alert(message); });
</script>